/* General Demo Style */
///@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #ddd url(../images/bg.jpg) repeat top left;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
  <img src="./images/logo.gif" width=50%>
	
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 500px;
	padding:40px;
	left:750px;
	float:left;
	position:absolute;
}

.container > header {
	background-color:#52cfeb;
	  background: #52cfeb;
	  background: url('linear-gradient.png') 0 0 repeat-x;
	  background: -webkit-linear-gradient(#52cfeb, #42A2BC);
	  background:    -moz-linear-gradient(#52cfeb, #42A2BC);
	  background:     -ms-linear-gradient(#52cfeb, #42A2BC);
	  background:      -o-linear-gradient(#52cfeb, #42A2BC);
	  background:         linear-gradient(#52cfeb, #42A2BC);
	  image:url('./images/logo.gif');
	padding: 10px 10px 10px 10px;
	height:80px;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}


.container >  h3 {
	font-size: 14px;
	line-height: 38px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

h3 {
	margin: 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
	font-size: 14px;
	position: relative;
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}

.details{
	    /* Size & position */
	    font-size:20px;
		width: 600px;
	    padding: 10px;
		float:left;
	    margin: 60px 60px 40px 100px;
	   	font-family:'Lato', Calibri, Arial, sans-serif;
	    /* Styles */
	    box-shadow: 
	        0 0 1px rgba(0, 0, 0, 0.3), 
	        0 3px 7px rgba(0, 0, 0, 0.3), 
	        inset 0 1px rgba(255,255,255,1),
	        inset 0 -3px 2px rgba(0,0,0,0.25);
	    border-radius: 5px;
	    background: white; /* Fallback */
	    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
	    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
	    background: -o-linear-gradient(#eeefef, #ffffff 10%);
	    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
	    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
	    background: linear-gradient(#eeefef, #ffffff 10%);
}
