.user-name{
  color: #3b5998;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.38;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

a.gallerypic{
  width:140px;
  text-decoration:none;
  position:relative;
  display:block;
  border:1px solid #666;
  padding:3px;
  margin-right:5px;
  float:left;
}

a.gallerypic span.zoom-icon{
  visibility:hidden;
  position:absolute;
  left:40%;
  top:35%;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

a.gallerypic:hover span.zoom-icon{
  visibility:visible;
}

.serviceoptions{
  margin-left:20px;

}